//Index-dato de interes
article{
    margin: 0px;
    padding: 0;
    border:none;
    text-align: center;
}    
.dato{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
h4{
    font-size: 14px;
    text-align: center;
}
article i{
    font-size: 20px;
    align-items: end;
}