// colores
$color1:#FF7B00;
$color2: #00765E;
$color3: #248B00;
$color4:#C08A00;
$color5: yellow;
$color6: red;
$color7: pink;
$color8: rgb(104, 4, 87);
$color9: rgb(3, 87, 3);
$color10: rgb(214, 1, 118);

@mixin font($color, $size, $weight){
    color: $color;
    font-size: $size;
    font-weight: $weight;
}
